/* <style> */
    p {
        text-align: justify;
        /* padding: 10px; */
        width: 500px;
        color: red;
    }
    ul {
        text-align: justify;
        
        width: 500px;
    }
    pre {
        text-align: left;
        margin: 0;
        padding: 0;
        /* width: 500px; */
    }
    .p1 {
        font-family: "Times New Roman", Times, serif;
    }
/* </style> */
    